apiVersion: v1
kind: Pod
metadata:
  name: nginx-demo-pod
  labels:
    app: nginx-demo
spec:
  containers:
  - name: nginx
    image: nginxdemos/hello
    ports:
    - containerPort: 80
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"
    volumeMounts:
        - name: host-keys-volume
          mountPath: /keys
  volumes:
  - name: host-keys-volume
    persistentVolumeClaim:
      claimName: keys-pvc